In [2]:
import math

In [3]:
math.sqrt(25)

5.0

In [4]:
math.pi

3.141592653589793

In [5]:
import math as mt

In [6]:
mt.sqrt(25)

5.0

In [7]:
import numpy as np

In [8]:
import stats from scipy

SyntaxError: invalid syntax (<ipython-input-8-8eecefd8e6be>, line 1)

In [9]:
import scipy

In [10]:
stats from scipy

SyntaxError: invalid syntax (<ipython-input-10-924452bf43bd>, line 1)

In [11]:
from numpy import random

In [12]:
import numpy as np

In [13]:
from scipy import stats

In [14]:
# uniform random numbers [0,1]
dataOne = random.rand(5,5)

In [15]:
dataOne

array([[0.93517361, 0.37731437, 0.42533359, 0.41517208, 0.30747686],
       [0.67693439, 0.39641004, 0.29648762, 0.73472873, 0.47068136],
       [0.03041874, 0.29504349, 0.01460065, 0.93557959, 0.56505213],
       [0.0576708 , 0.29017676, 0.03199435, 0.2339819 , 0.28296031],
       [0.21643091, 0.27896493, 0.59413963, 0.01762189, 0.37678652]])

In [16]:
np.mean(dataOne)

0.3702854102456075

In [17]:
np.average(dataOne)

0.3702854102456075

In [18]:
np.standarddeviation(dataOne)

AttributeError: module 'numpy' has no attribute 'standarddeviation'

In [19]:
print('I Love DS')

I Love DS

In [20]:
variablename1 = 'I Love DS'

In [21]:
print(variablename1)

I Love DS

In [22]:
variablename = 25

In [23]:
type(variablename)

int

In [24]:
varOne = 25
varTwo= 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
type(varTwo)

str

In [26]:
listname[1,2,3,4,5,5,6]

NameError: name 'listname' is not defined

In [27]:
listName = [3,4,5,6,6]

In [30]:
print(listName[4:6])

[6]

In [31]:
variableTest = [1,2,3,4,5]

In [32]:
print(variableTest)

[1, 2, 3, 4, 5]

In [33]:
## Import Libraries
import pandas as pd

In [35]:
##Import CVS
variable = pd.read_csv("C:\Users\vlacayo\Documents\Victor\Certificacion Analytics\Python\credit card clients.csv")
variable.head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-35-3d55d3afef09>, line 2)

In [37]:
##Import CVS
variable = pd.read_csv(r"C:\Users\vlacayo\Documents\Victor\Certificacion Analytics\Python\credit card clients.csv")
variable.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0